<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Shoppu</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
    </head>
    <body>
    <div th:switch="${userProducts}">
        <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h2>Products</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${userProducts}">
                    <td>
                        <a th:href="@{'/products/' + ${product.id}(userId=${userId})}">
                            <span th:text="${product.name}"></span>
                        </a>
                    </td>
                    <td th:text="${product.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </body>
</html>